{% set questionTypesDict = getQuestionTypes() %}

<div class="media testpaper-result">
  <div class="">
    总分：{{ paper.score }}
  </div>
  <div class="">
    得分：{% if paperResult.status == 'finished' %}{{ paperResult.score }}{% else %}{{ '正在批阅' }}{% endif %}
  </div>
  <div class="">
    {% set total_question_nunber = 0 %}
    {% set total_question_right_nunber = 0 %}
    {% set total_question_wrong_nunber = 0 %}

    {% for type in questionTypes|default([]) if accuracy[type]|default(null) %}
      {% set total_question_nunber = total_question_nunber + accuracy[type].all %}
      {% set total_question_right_nunber = total_question_right_nunber + accuracy[type].right %}
      {% set total_question_wrong_nunber = total_question_wrong_nunber + accuracy[type].wrong + accuracy[type].noAnswer %}
    {% endfor %}

    {% if paperResult.status == 'finish' %}
    <span>共{{ total_question_nunber }}题</sapn>
    <span>对{{ total_question_right_nunber }}题</sapn>
    <span>错{{ total_question_wrong_nunber }}题</sapn>
    {% endif %}
  </div>
</div>
