<tr>
  <td>
    {{ testpaper.name|plain_text(60) }}    
  </td>
  <td>{{ paperResult.endTime|date("Y-n-d H:i") }}</td>
  <td>
    {{ student.nickname }}
  </td>
  <td>
    {% if status == 'reviewing' and (not isTeacher is defined or isTeacher) %}
      <a class="link-primary" href="{{ path('course_manage_testpaper_check', {id:paperResult.courseId,resultId:paperResult.id,source:source|default('course'),targetId:targetId|default(0)}) }}">{{'my.teaching.testpaper.check'|trans}}</a>
    {% endif %}

    {% if status == 'finished' %}
      <div>
        <div class="text-warning">
          {{'my.teaching.testpaper.answer_detail'|trans({'%totalCount%': paperResult.score, '%objectiveScore%': paperResult.objectiveScore, '%subjectiveScore%': paperResult.subjectiveScore, '%teacherName%': teacher.nickname|default('my.teaching.testpaper.default_teacher'|trans), '%checkTime%': paperResult.checkedTime|date('site.date_format_H_i'|trans)})|raw}}
        </div>
      </div>
    {% endif %}
  </td>
</tr>
