{% import "admin/macro.html.twig" as admin_macro %}
{% import "common/data-dict-macro.html.twig" as dict_macro %}

{% set target = ''~filter~'_index' %}
<tr id="course-tr-{{ courseSet.id }}">
  <td>{{ courseSet.id }}</td>
  <td>
    <strong>{{ courseSet.title }}</strong>
  </td>
  <td>{{ dict_macro.courseStatus( courseSet.status) }}</td>
      <td>{{ courseSet.studentNum }}</td>
  <td>
    {{ user.nickname }}
    <br>
    <span class="text-muted text-sm">{{ courseSet.createdTime|date('Y-n-d H:i') }}</span>
  </td>
  <td>
    <div class="btn-group">
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_course_manage', group:'groupButton', courseSet: courseSet} %}
    </div>
  </td>
</tr>