{% extends 'layout.html.twig' %}

{% block title %}{{ 'python.editor.title'|trans }} - {{ parent() }}{% endblock %}

{% do script(['app/js/python-editor/index.js']) %}

{% block body %}
  {% include 'python-editor/index-js-loader.html.twig' %}
  <div class="col-md-12 python-editor-header">
    <input type="file" id="files" style="display: none">
    <div class="nav">
      <div class="file-group">
        <img class="file-icon" src="{{ asset('assets/img/default/file.svg') }}">
        &nbsp;&nbsp;文件&nbsp;&nbsp;
        <div class="file-list">
          <a class="file-open">打开</a>
          <a class="file-new" data-url="{{ path('python_work_show') }}">新建</a>
          <a class="file-save">另存为</a>
        </div>
      </div>

      <span class="break"></span>
      <a class="save-work" data-url="{{ path('python_work_save_modal') }}?projectId={{ project.id|default(0) }}">
        <img class="save-icon" src="{{ asset('assets/img/default/save.svg') }}">
        &nbsp;保存作品
      </a>
      <span class="break"></span>
      <a class="publish-work" data-url="{{ path('python_work_save_modal') }}?projectId={{ project.id|default(0) }}">
        <img class="save-icon" src="{{ asset('assets/img/default/publish.svg') }}">
        &nbsp;发布作品
      </a>
    </div>
    <div class="navbar-user hidden-xs">
      {% if app.user %}
        {% include 'default/header/part/user-avatar.html.twig' %}
      {% else %}
        {% include 'default/header/part/visitor-login.html.twig' %}
      {% endif %}
    </div>
  </div>
  <div class="col-md-6 python-editor-code">
    <textarea id="yourcode" cols="40" rows="10">
{% if python_code %}
{{ python_code }}
{% else %}
import turtle

t = turtle.Turtle()
t.forward(100)

print "Hello World"
{% endif %}
    </textarea>
  </div>
  <div class="col-md-6 python-run-result">
    <div class="col-md-5 col-xs-5">&nbsp;</div>
    <button class="btn cd-btn cd-btn-primary col-md-2 col-xs-2 run-btn" onclick="runit()">运行</button>
    <button class="btn cd-btn cd-btn-primary col-md-2 col-xs-2 clear-btn">清除</button>
    <div id="output"></div>
    <div id="mycanvas" style="background:url({{ asset('assets/img/default/welcome_python_editor.png') }}) no-repeat center;background-size: contain;"></div>
  </div>
  <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
  <script type="text/javascript">
    window.Sk = Sk;
    window.CodeMirror = CodeMirror;
    window.saveAs = saveAs;
    var runit = window.runit;
  </script>
{% endblock %}