{% extends 'old-bootstrap-modal-layout.html.twig' %}

{% block title %}{% if material|default(null) %}{{ 'admin.operation.scratch_material_manage.edit_title'|trans }}{% else %}{{ 'admin.operation.scratch_material_manage.add_title'|trans }}{% endif %}{% endblock %}

{% block body %}
  <form id="material-form" class="form-horizontal" method="post"
        action="{% if material|default(null) %}{{ path('admin_scratch_material_edit',{id:material.id}) }}{% else %}{{ path('admin_scratch_material_create') }}{% endif %}">

    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="title">{{ 'admin.operation.scratch_material_manage.title_label'|trans }}</label>
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="title" name="title" class="form-control" required="required" value="{{ material.title|default('') }}">
        <p class="help-block" style="display: none;"/>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="categoryId">{{ 'admin.operation.scratch_material_manage.category_label'|trans }}</label>
      </div>
      <div class="col-md-8 controls">
        <select id="categoryId" name="categoryId" class="form-control width-input width-input-large">
          {{ select_options(category_choices('scratch_material'), material.categoryId|default(null), 'course.base.category'|trans) }}
        </select>
        <div class="help-block" style="display:none;"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="price">{{ 'admin.operation.scratch_material_manage.price_label'|trans }}</label>
      </div>
      <div class="col-md-8 controls">
        <input type="text" id="price" name="price" class="form-control width-input width-input-small" required="required" value="{{ material.price|default(0) }}">
        <div class="help-block" style="display:none;"></div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-2 control-label">
        <label for="type">{{ 'admin.operation.scratch_material_manage.type_label'|trans }}</label>
      </div>
      <div class="col-md-8 controls radios">
        {{ radios('type', dict('scratchMaterialType') , material.type|default('role')) }}
        <p class="help-block" style="display:none;"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label" for="file">{{ 'admin.operation.scratch_material_manage.file_label'|trans }}</label>
      <div class="col-md-8 controls">
        <div id="file-src">
          {% if material.fileUri|default(null) %}
            <img class="img-responsive" src="{{ filepath(material.fileUri) }}" alt="">
          {% endif %}
        </div>
        <input type="hidden" name="fileUri" value="{{ material.fileUri|default('') }}">
        <a id="file-uploader" class="btn btn-sm btn-default webuploader-container" type="button"
           data-target="#file-src"
           data-upload-token="{{ upload_token('tmp') }}"
           data-goto-url="{{ path('admin_scratch_material_file_upload') }}"
           data-uri="">{{ 'form.btn.upload'|trans }}</a>
        <div class="help-block">{{ 'admin.category_manage.icon_tips'|trans }}: pg, jpeg, gif, png, 建议尺寸为 24×24px。</div>
      </div>
    </div>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">
  </form>
{% endblock %}

{% block footer %}
  <button id="material-submit-btn" data-submiting-text="{{ 'form.btn.submit.submiting'|trans }}" type="submit"
          class="btn btn-primary pull-right"
          data-toggle="form-submit" data-target="#material-form">{{ 'form.btn.submit'|trans }}</button>
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{ 'form.btn.cancel'|trans }}</button>
  <script>app.load('scratch-material/modal')</script>
{% endblock %}