{% import 'admin/macro.html.twig' as admin_macro %}
{% import "common/data-dict-macro.html.twig" as dict_macro %}

<tr id="material-tr-{{ material.id }}">
  <td>{{ material.id }}</td>
  <td>{{ material.title }}</td>
  <td>{{ dict_text('scratchMaterialType', material.type) }}</td>
  <td>{{ material.price }}</td>
  <td>{{ dict_macro.courseStatus( material.status) }}</td>
  <td>{{ admin_macro.user_link(creator) }}<br>{{ material.createdTime|date("Y-m-d H:i:s") }}</td>
  <td>
    <div class="btn-group">
      {% if has_permission('admin_operation_scratch_material_manage') %}
        <a class="btn btn-default btn-sm" data-url="{{ path('admin_scratch_material_edit', {id:material.id}) }}"
           data-toggle="modal" data-target="#modal">{{ 'admin.operation.scratch_material_manage.edit_btn'|trans }}</a>
      {% endif %}
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_operation_scratch_material_manage', group:'groupButton', material: material} %}
    </div>
  </td>
</tr>