{% import 'admin/macro.html.twig' as admin_macro %}
{% import "common/data-dict-macro.html.twig" as dict_macro %}

<tr id="material-tr-{{ work.id }}">
  <td>{{ work.id }}</td>
  <td>
    <a target="_blank" href="{{ path('scratch_show', {projectId:work.projectId}) }}" >{{ work.title }}</a>
    {% if work.recommended %}
      <span class="label label-default">{{ 'admin.course_manage.manage.recommend'|trans({'%recommendedTime%': work.recommendedTime|date('Y-m-d'), '%recommendedSeq%': work.recommendedSeq}) }}</span>
    {% endif %}
  </td>
  <td>{{ admin_macro.user_link(creator) }}</td>
  <td>{{ work.publishTime|date("Y-m-d H:i:s") }}</td>
  <td>{{ work.verifyTime|date("Y-m-d H:i:s") }}</td>
  <td>{{ admin_macro.user_link(verifyUser) }}</td>
  <td>
    <div class="btn-group">
      {% if has_permission('admin_course_scratch_work_publish_manage') %}
        <a class="btn btn-default btn-sm" target="_blank" href="{{ path('scratch_show', {projectId:work.projectId}) }}"
        >{{ 'admin.course.scratch_work_publish_manage.view_btn'|trans }}</a>
      {% endif %}
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_course_scratch_work_publish_manage', group:'groupButton', work: work} %}
    </div>
  </td>
</tr>