{% set questionTypesDict = getQuestionTypes() %}

<tr data-type="{{ question.type }}">
  <td>
    {{ question.stem|fill_question_stem_text|plain_text(40) }}
  </td>
  <td>{{ questionTypesDict[question.type] }}</td>
  {% if targetType|default('testpaper') == 'testpaper' %}
    <td>{{ question.score }}</td>
  {% endif %}
  <td>
    <button type="button" class="btn btn-primary btn-sm" data-role="picked-item" data-replace="{{ app.request.query.get('replace')|default(null) }}" data-question-id="{{ question.id }}" data-url="{{ path('course_set_manage_question_picked', {courseSetId:courseSet.id }) }}">{% if replace|default(null) %}{{'question.btn.replace'|trans}}{% else %}{{'question.btn.choose'|trans}}{% endif %}</button>
  </td>
</tr>
