{% do script(['libs/jquery-validation.js','app/js/leave-message/index.js']) %}

<section class="leave-message mb20">
  <div class="container">
    <form class="form-horizontal" id="leave-message-form" action="{{ path('leave_message_commit') }}" method="POST">
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="col-sm-3 form-control-static">
              {{ 'leave_message.commit_message'|trans }}
              <p class="small mb0 color-gray">leaving a message.</p>
            </label>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="leave-message-name" class="col-sm-3 control-label text-left">{{ 'leave_message.form_name'|trans }}<p class="small mb0 color-gray">Name:</p></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="leave-message-name" name="name">
            </div>
          </div>

          <div class="form-group">
            <label for="leave-message-email" class="col-sm-3 control-label text-left">{{ 'leave_message.form_email'|trans }}<p class="small mb0 color-gray">Mailbox:</p></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="leave-message-email" name="email">
            </div>
          </div>

          <div class="form-group">
            <label for="leave-message-phone" class="col-sm-3 control-label text-left">{{ 'leave_message.form_phone'|trans }}<p class="small mb0 color-gray">Telephone:</p></label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="leave-message-phone" name="phone">
            </div>
          </div>
        </div>

        <div class="col-sm-8">
          <div class="form-group">
            <label class="col-sm-3 control-label text-left" for="leave-message-content">{{ 'leave_message.form_content'|trans }}<p class="small mb0 color-gray">Leaving a message:</p></label>
            <div class="col-sm-9">
              <textarea class="form-control" name="content" id="leave-message-content" rows="8"></textarea>
            </div>
          </div>
        </div>

        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary pull-right" id="leave-message-commit">{{ 'leave_message.form_submit'|trans }}</button>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

      </div>
    </form>
  </div>
</section>