{# {% extends 'courseset-manage/header.html.twig' %}

{% block coursesetImg %}
{% endblock %}

{% block coursesetTitle %}
  <a class="cd-link-major" target="_blank" href="{{ courseSet.redirect_path }}">{{ courseSet.title }}</a>
{% endblock %}

{% block courseTitle %}
  {{ courseSet.courseNum|default(0) }}
{% endblock %}

{% block btn %}
  <a class="cd-btn cd-btn-ghost-primary cd-mr16" target="_blank" href="{{ courseSet.redirect_path }}">{{ 'course.manage_btn'|trans }}</a>
{% endblock %} #}


  <tr>
    <td>{{ courseSet.title }}</td>
    <td>{{ courseSet.updatedTime|date('Y-m-d H:i:s') }}
    <td>
        <a target="_blank" href="{{ courseSet.redirect_path }}">{{ 'course.manage_btn'|trans }}</a>
    </td>
  </tr>