  <tr>
    <td>{{ courseSet.title }}</td>
    {% if courseSet.status == 'draft' %}
        <td>未发布</td>
    {% elseif  courseSet.status == 'published' %}
        <td>已发布</td>
    {% elseif courseSet.status == 'closed' %}
        <td>已关闭</td>
    {% endif %}
    
    <td>{{ courseSet.studentNum }}</td>
    <td>{{ courseSet.updatedTime|date('Y-m-d H:i:s') }}
    <td>
        <a target="_blank" href="{{ courseSet.redirect_path }}">{{ 'course.manage_btn'|trans }}</a>
    </td>
  </tr>