{% extends 'bootstrap-modal-layout.html.twig' %}

{% do script(['libs/jquery-validation.js', 'app/js/course-manage/teachers/add/index.js']) %}

{% block title %}
      修改教师
{% endblock %}
{% block body %}

<form id="student-add-form" class="form-horizontal" method="post" action="{{ path('course_set_manage_course_teachers_add', {courseSetId: courseSetId, courseId: course.id}) }}">
  {% if course.status == 'published' %}
  	<div class="row form-group">
      <div class="col-md-2 control-label">
        <label for="student-nickname">教师</label>
      </div>
      <div class="col-md-7 controls">
        <input type="text" id="student-nickname" name="queryfield" class="form-control" placehold="请输入用户名"
        data-url="{{ path('course_set_manage_course_students_check',{courseSetId: courseSetId, courseId: course.id})}}" >
    	</div>
    </div>
  {% else %}
    <div class="empty">{{dict_text('courseStatus', course.status)}}{{'course.members_manage.official_student.add.failed_tips'|trans}} {{'site.default.student'|trans}}，{{'course.members_manage.official_student.add.publish_tips'|trans}}</div>
  {% endif %}

  <input type="hidden" name="_csrf_token" value="{{ csrf_token('site') }}">

</form>

{% endblock %}

{% block footer %}
  {% if course.status == 'published' %}
    <button id="student-add-submit" type="button" class="btn btn-primary pull-right" data-loading-text="{{'form.btn.save.submiting'|trans}}" >{{'form.btn.save'|trans}}</button>
  {% endif %}
  <button type="button" class="btn btn-link pull-right" data-dismiss="modal">{{'form.btn.cancel'|trans}}</button>
{% endblock %}
