{% extends 'testpaper/testpaper-layout.html.twig' %}

{% do script(['libs/jquery-validation.js','libs/es-ckeditor/ckeditor.js','app/js/testpaper-manage/check/index.js']) %}

{% set role = 'teacher' %}
{% set showHeader = 1 %}
{% set isIframeBody = 0 %}
{% set isTeacher = 1 %}

{% block paper_result_bar %}
  {% include 'testpaper/part/paper-result-objective.html.twig' %}
{% endblock %}

{% block paper_sidebar %}

  <div class="testpaper-card {{testpaperCardClass|default('')}}">
    <div class="panel panel-default">
      
      <div class="panel-footer">
        <button class="btn btn-primary btn-block" data-role="check-submit">{{'testpaper.result.finish_reviewing'|trans}}</button>
      </div>
    </div>
  </div>

{% endblock %}

{% block testpaper_checked_dialog %}
  <div id="testpaper-checked-dialog" class="modal in" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-dialog-small">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">{{'testpaper.result.finish_reviewing'|trans}}</h4>
        </div>
        <div class="modal-body">

          <div class="form-group hidden">
            <div class="controls">
              <textarea class="form-control" rows='4' id="testpaper-teacherSay-input" placeholder="{{'course.homework_check.review.input_comment'|trans}}"></textarea>
            </div>
          </div>
          <div>确认完成？</div>
        </div>
        <div class="modal-footer">
            {% set postUrl = path('course_manage_testpaper_check', {id:targetId,resultId:paperResult.id}) %}
          <a href="javascript:;" class="btn btn-default" data-dismiss="modal">{{'form.btn.cancel'|trans}}</a>
          <button type="button" class="btn btn-info" id="testpaper-teacher-say-btn" data-post-url="{{ postUrl }}" data-goto="{{ app.request.server.get('HTTP_REFERER') }}" data-role="finish-check" data-loading-text="确认">确认</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
