{% extends 'course-manage/layout.html.twig' %}

{% do script(['app/js/course-manage/students/index.js']) %}
{% block main_heading_class %}course-main-header{% endblock %}
{% block main_heading %}
  <div class="cd-main__title">
    学生管理
  </div>

  <div class="course-main-header__operation">
    {% if app.user.isAdmin() or setting('course.teacher_manage_student', 0) %}
      {% if course.status == 'published' %}
        <button class="cd-btn cd-btn-info cd-btn-sm mhs" id="student-add-btn" data-toggle="modal" data-target="#modal" data-url="{{ path('course_set_manage_course_students_add', {courseSetId:courseSet.id, courseId: course.id}) }}">{{'course.members_manage.add_btn'|trans}}</button>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}

{% block main_body %}
    <div id="student-table-container" role="course-manage-student-index">
      {{ web_macro.flash_messages() }}

      <form class="form-inline well well-sm" action="{{path('course_set_manage_course_students', {courseSetId: courseSet.id, courseId: course.id})}}" method="get" novalidate>
        <div class="form-group col-md-7">
          <input class="form-control" type="text" style="width:45%" placeholder="用户名" name="keyword" value="{{ app.request.get('keyword') }}">
          <button type="submit" class="cd-btn cd-btn-primary">{{'course.members_manage.official_student.search'|trans}}</button>
        </div>
        <div class="clearfix"></div>
      </form>
      {% if 'forever' != course.expiryMode and students|length > 0 %}
        <button id="batch-update-expiry-day" type="button" class="cd-btn cd-btn-primary cd-mb16" data-url="{{path('course_set_manage_course_students_deadline_batch', {courseSetId: course.courseSetId, courseId: course.id})}}">{{'course.members_manage.official_student.batch_upload_deadline'|trans}}</button>
      {% endif %}
      <table class="table table-striped" id="course-student-list">
        <thead>
          <tr>
            <th width="23%">学员</th>
            <th width="17%">添加时间</th>
            <th width="25%">操作</th>
          </tr>
        </thead>
        <tbody>
          {% for student in students if student %}
            {% set user = users[student.userId]|default(null) %}
            {% include 'course-manage/student/tr-v2.html.twig' %}
          {% else %}
            <tr class="empty"><td colspan="20">暂时没有学员</td></tr>
          {% endfor %}

        </tbody>
      </table>
      <nav class="text-center">
        {{ web_macro.paginator(paginator) }}
      </nav>
    </div>
{% endblock %}
