{% import "macro.html.twig" as web_macro %}

<tr id="student-{{user.id}}-tr" class="students-item js-students-item">
  <td class="hidden">
    <input value="{{user.id}}" type="checkbox"  autocomplete="off" data-role="batch-item" >
  </td>
  <td class="media media-middle" >
  
    {{ user.nickname }}
  </td>
  <td style="vertical-align: middle;">{{student.createdTime|date('Y-n-d H:i')}}</td>
  <td style="vertical-align: middle;">
    
    {% if app.user.isAdmin() or setting('course.teacher_manage_student', 0) %}
      <a class="mrm link-primary js-remove-student" href="javascript:;" data-url="{{path('course_set_manage_course_students_remove', {courseSetId: courseSet.id, courseId: course.id, userId: student.userId})}}" data-user="{{'site.default.student'|trans}}">移除</a>
    {% endif %}
    
  </td>
</tr>