<div class="clearfix">
  {# <div class="testpaper-question-seq-wrap">
    <div class="testpaper-question-seq">
      {{ question.seq|default(null) }}、{{ question.score|default('0.0') }}分
    </div>
  </div> #}
    <div class="testpaper-question-stem">
      {# {% if question.type == 'fill' %}
        {{ question.stem|fill_question_stem_html|bbCode2Html|raw|nl2br }}
      {% else %} #}
        {{ question.seq|default(null) }}、{{ question.score|default('0.0') }}分{{ question.stem|bbCode2Html|raw|nl2br }}
      {# {% endif %} #}
    	
      {# {% include 'attachment/widget/list.html.twig' with {targetType:'question.stem', targetId:question.id|default(null)  } %} #}
    </div>
</div>
