{% extends 'course-manage/layout.html.twig' %}

{% block title %}{{'course.coding_check'|trans}} - {{ course.title }} - {{ parent() }}{% endblock %}
{% set course_side_nav = 'coding-check' %}

{% block page_title %}{{ 'course.coding_check'|trans }}{% endblock %}

{% block main_body %}
  {% if isTeacher is defined and not isTeacher %}
    <span class="color-danger">{{'course.coding_check.no_permission_tips'|trans}}</span>
  {% else %}
    {% for activity in activities %}
      {% include 'scratch/check-list-item.html.twig' %}
    {% endfor %}
  {% endif %}

  {{ web_macro.paginator(paginator) }}

{% endblock %}
