<div class="clearfix testpaper-mark-list">
  <div class="testpaper-mark-info col-md-8">
    <div class="row">
      <div class="col-md-8">
        <div class="testpaper-mark-info__title text-overflow" title="{{ activity.title }}">{{ activity.title }}</div>
        <div class="testpaper-mark-info__name">
          {{ activity.content|raw }}
        </div>
        <div class="mbm color-gray">
          <span class="mrl">{{'course.testpaper_check.start_date'|trans}}
            {% if activity.startTime %}
              {{ activity.startTime|date('Y-m-d H:i') }}
            {% else %}
              {{ activity.createdTime|date('Y-m-d H:i') }}
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="testpaper-mark-status col-md-4 text-center">
    <div class="row">
      <div class="col-xs-12">
        <a class="testpaper-mark-success-status" href="{{ path('course_manage_coding_check_detail', {courseId:activity.fromCourseId, activityId:activity.id}) }}">
          <span class="testpaper-mark-status__text">{{'course.coding_check.check'|trans}}</span><br>
        </a>
      </div>
    </div>
  </div>
</div>