{% extends 'layout.html.twig' %}

{% block title %}{{ 'scratch.material.explore'|trans }} - {{ parent() }}{% endblock %}

{% do script(['app/js/scratch/material/explore/index.js']) %}

{% set query = { categoryId: app.request.query.get('categoryId', ''), type: app.request.query.get('type', ''), title: app.request.query.get('title', '')} %}
{% set bodyClass = 'scratch-explore' %}

{% block top_content %}
  <div class="scratch-explore-banner">
    <div class="bg-primary" style="width: 100%;height: 200px"></div>
  </div>
{% endblock %}

{% block content %}
  <section class="scratch-explore-container">

    <div class="search-box mb30">
      <div class="search-input">
          <div class="row">
            <div class="col-sm-2 col-xs-6">
              <p class="form-control-static text-blod">{{ 'my.reward_point.balance'|trans({'%name%':setting('reward_point').name|default('admin.reward_point'|trans)}) }}：<span class="color-yellow js-my-reward-point">{{ account.balance|default(0)|trans }}</span></p>
            </div>
            <div class="form-group pull-right col-sm-2 col-xs-6">
              <input class="form-control js-scratch-search-input" name="title" value="{{ app.request.query.get('title', '') }}">
              <a class="button es-icon es-icon-search js-scratch-search-btn" href="javascript:;" data-url="{{ path('scratch_material_explore', query|merge({ 'title': '' })) }}"></a>
            </div>
          </div>
        </div>

      <div class="scratch-btn-group-wrap">
        <div class="mb30 type-btn-group">
          <a class="type-btn {% if not app.request.query.get('type') %}active{% endif %}" href="{{ path('scratch_material_explore', query|merge({ 'type': '' })) }}" data-loading-text="全部"><i class="iconfont icon-all{% if not app.request.query.get('type') %}-active{% endif %}"></i> 全部</a>
          {% for key,type in dict('scratchMaterialType') %}
            <a class="type-btn {% if app.request.query.get('type') == key %}active{% endif %}" href="{{ path('scratch_material_explore', query|merge({ 'type': key })) }}" data-loading-text="{{ type }}"><i class="iconfont icon-{{ key }}"></i> {{ type }}</a>
          {% endfor %}
        </div>

        <ul class="nav nav-pills nav-pills-sm mb20">
          <li class="{% if not app.request.query.get('categoryId') %}active{% endif %}"><a href="{{ path('scratch_material_explore', query|merge({ categoryId: '' })) }}" data-loading-text="全部">全部</a></li>
          {% for categoryId,category in category_choices('scratch_material') %}
            <li class="{% if app.request.query.get('categoryId') == categoryId %}active{% endif %}"><a href="{{ path('scratch_material_explore', query|merge({ 'categoryId': categoryId })) }}" data-loading-text="{{ category }}">{{ category }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="scratch-list">
      <div class="row">
        {% for material in materials %}
          {% set productOrder = productOrders[material.id]|default(null) %}
          <div class="col-sm-2">
            <div class="scratch-item">
              <img class="img-responsive" src="{{ filepath(material.fileUri) }}" alt="{{ material.title }}">
              <div class="caption">
                <h4>{{ material.title|plain_text(15) }}</h4>
                <p class="small"><span class="color-gray">{{ material.price }} {{ setting('reward_point').name|default('admin.reward_point'|trans) }}</span><a href="javascript:;" class="color-primary pull-right js-exchange-btn" role="button" data-url="{{ path('scratch_material_exchange', { materialId: material.id}) }}" data-price="{{ material.price }}" data-loading-text="兑换">{% if productOrder %}已兑换{% else %}兑换{% endif %}</a></p>
              </div>
            </div>

          </div>
        {% else %}
          <div class="empty">{{ 'scratch.material.explore_empty'|trans }}</div>
        {% endfor %}
      </div>
    </div>

    {{ web_macro.paginator(paginator) }}

  </section>
  <div id="login-modal" class="modal" data-url="{{ path('login_ajax') }}"></div>
{% endblock %}