{% extends 'layout.html.twig' %}

{% block title %}{{ 'scratch.work_show_title'|trans }} - {{ parent() }}{% endblock %}

{% block body %}

  {% include 'common/weixin-share.html.twig' with {
  'title': shareInfo.title,
  'desc': shareInfo.summary|striptags|purify_and_trim_html,
  'link': app.request.uri,
  'imgUrl': asset(setting('site.favicon')),
  }%}

  <link type="text/css" rel="stylesheet" href="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/css/ele-ui.css') }}"/>
  <link type="text/css" rel="stylesheet" href="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/css/shaer_detail.css') }}"/>

  <div id="big">
    <div>
      <img alt=""/>
    </div>
  </div>
  <div id="container" class="container" style="padding: 0;" v-cloak>
    <div class="header">
      <img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/logo.png') }}"/>
      <!-- <a class="lookMoreText" href="share_world.html">
            我也要学
        </a> -->
    </div>
    <div id="content" class="content">
      <div id="detail">
        <label id="magnify" class="icon-zoom-in"></label>
        <iframe class="iframe" frameborder="0" scrolling="no"></iframe>
        <div id="rightBorder"></div>
      </div>
      <!-- <div class="invent">
        <button   >我也要学</button>
      </div> -->
      <div class="control_introduce">
        <div id="introduce" class="introduce">
          <div class="introduce_wrap">
            <div class="author flex">
              <div class="author_info flex">
                <img class="author_img" src="{{ asset('assets/libs/scratch/scratch-h5/assets/front/img/avatars/lv0_boy.png') }}"/>
                <div class="author_name_grade">
                  <p class="author_name"></p>
                  <!-- <p class="author_grade_area">
                    年级:
                    <span class="grade"></span> 地区:
                    <span class="area"></span>
                  </p> -->
                </div>
              </div>
            </div>
            <div class="pro_introduce">
              <div class="pro_up">
                <span class="pro_name">你好你好</span>
                <div class="pro_looks">
                  <img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/eyes.png') }}"/><span
                    class="eyes"></span>
                  <img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/goods_default.png') }}"
                       class="liked"/><span
                    class="goods"></span>
                </div>
              </div>
              <div class="pro_down">
                <p>{{ 'scratch.works_introduction'|trans }}：</p>
                <p class="pro_title"></p>
              </div>
              <div class="pro_down">
                <p>{{ 'scratch.how_to_play_introduction'|trans }}：</p>
                <p class="usage_title"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="control">
          <div class="control_up">
            <div class="control_up_left">
              <!-- 							<img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/eyes.png') }}" /> <span>123</span> <img -->
              <!-- 								src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/goods_default.png') }}" class="liked" /> <span class="goods">123</span> -->
            </div>
            <div class="control_up_right">
              <img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/down.png') }}"/>
            </div>
          </div>
          <div class="control_down flex">
            <div class="control_direct">
              <div>
                <p class="up"></p>
              </div>
              <div>
                <p class="left"></p>
                <p class="right"></p>
              </div>
              <div>
                <p class="down"></p>
              </div>
            </div>
            <div class="control_space">
              <p class="space"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="shareBg">
    <img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/share_arrow.gif') }}" class="shareArrow"/>
    <img src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/share_text.png') }}" class="shareText"/>
  </div>

  <script type="text/javascript" src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/js/layer_mobile/layer.js') }}"></script>
  <script src="{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/js/alloy_finger.js') }}"></script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script
    src="https://cdn.bootcss.com/es6-promise/4.1.1/es6-promise.min.js"></script>
  <script type="text/javascript">
    (function () {
      document.addEventListener('DOMContentLoaded', function () {
        var html = document.documentElement;
        var windowWidth = html.clientWidth;
        html.style.fontSize = windowWidth / 7.5 + 'px';
        //等价于html.style.fontSize = windowWidth / 640 * 100 + 'px';
      }, false);
    })();
    var proId = urlParams('id');
    var stuId = '';
    var promotion = getQueryString('p');

    //文件名
    var file = getQueryString("file");
    //用户Id
    var userId = getQueryString("userId");

    //点击遮罩的时候，隐藏遮罩
    $(".shareBg").click(function () {
      $(".shareBg").css("visibility", "hidden");
    })


    //   //页面层
    //   layer.open({
    //     type: 1
    //     ,content: '可传入任何内容，支持html。一般用于手机页面中'
    //     ,anim: 'up'
    //     ,style: 'position:fixed; bottom:0; left:0; width: 100%; height: 200px; padding:10px 0; border:none;'
    //   });

    $.ajax({
      url: "/scratch_share/share_info/{{ project.shareId }}",
      type: "GET",
      data: "type=projectInfo&id=" + getQueryString("userId") + "&file=" + getQueryString("file") + "&project=" + getQueryString("project"),
      success: function (json, status) {//如果调用php成功
        var nickname = json.nickname;
        var success = json.status;
        if (success) {
          initPage = initPage(json);

        } else {
          alert("复制文件后通信失败，请联系老师解决！谢谢")
        }
      },
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("复制文件出错，请联系老师解决！谢谢")
      }
    });


    //初始化界面
    function initPage(json) {
      var data = {
        bigType: '1',
        coverUrl: 'exercise/26b7430e70dd4745b7f801421253df08.jpg',
        fileUrl: '{{ fileurl(project.fileUri,'../../libs/scratch/project.sb2','default') }}',
        project: getQueryString("project"),
        inventory: {
          'level': 0
        },
        name: json.nickname,
        postUrl: 'rest/page/html/bigwall?id=e85a935fffeb44a586fbf247d733d61b',
        setting: null,
        sex: '1',
        liked: 0,//是不是点了赞,目前每次进入都默认是没有点赞的
        shareContent: json.projectDes,
        usageDes: json.usageDes,
        shareTitle: json.projectTitle,
        shareType: '1',
        star: json.liked,//被点赞的次数
        type: 'student',
        userId: userId,
        userType: 'student',
        visit: json.visit,

      };

      document.title = data.shareTitle + ' ' + data.name + "在编程侠的编程作品分享";
      window.tit = data.shareTitle + ' ' + data.name + "在编程侠的编程作品分享";
      window.authorInfo = data.name;
      window.userId = data.userId;
      window.shareType = data.shareType;
      window.title = data.shareTitle;
      window.con = data.shareTitle + data.shareContent;
      window.liked = data.liked;
      window.star = data.star;

      //TODO 微信登录
      // ajcb();

      $("#detail").show();
      $('.eyes').text(data.visit);
      $('.control_up_left span').eq(0).text(data.visit)
      $('.goods').text(window.star);
      $('.control_up_left span').eq(1).text(data.star)
      if (window.liked) {
        $('.liked').attr('src', '{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/goods_selected.png') }}');
        //    $('.control_up_left img').eq(1).addClass('liked').attr('src', '{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/goods_selected.png') }}');
      }

      // if (data.shareType == 1) { //sb2
      $('.invent').hide();
      if ($(document).height() > 710 && $(document).width() < 410) {
        $("#detail,iframe").css("height", "92vw");
      } else {
        $("#detail,iframe").css("height", "90vw");
      }
      //TODO 注册修改文件地址
      $("iframe").attr("src", "{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/SB2/index.html') }}?file=" + data.fileUrl + "&width=" + $("#detail").width());
      // }

      // if (data.shareType == 2) { //Turtle.js
      //   $("#detail").addClass("border").next().removeClass("hidden");
      //   $("#rightBorder").show();
      //   $("iframe").attr("src", "/alldream-turtle/sharejs-mobile.html?code=https://cdn.all-dream.com/" + data.fileUrl);
      //   $('.invent').show();
      //   $('.invent button').bind('touchend', function() {
      //     $('#form_shade').show();
      //   });
      //
      // }
      if (data.name) {
        $('.author_name').html(data.name)
      } else {
        $('.author_name').html('同学');
      }
      $('.pro_name').html(data.shareTitle);
      $('.pro_title').html(data.shareContent);
      $('.usage_title').html(data.usageDes);
      stuId = data.userId;
      // });


      //点击切换键盘
      $('.control_up_right').click(function () {
        $('.control').animate({
          top: '5rem'
        }, 'fast');
        $('.control').hide();
      });

      //点赞
      $('.pro_looks').click(function () {
        goods();
      });

// 	    $('.pro_looks img').eq(1).bind('touchend', function() {
// 	      if ($(this).hasClass('liked')) {
// 	        return false;
// 	      } else {
// 	        goods();
// 	      }
// 	    });
    }

    //点赞,TODO 有待将liked更改
    function goods() {
      window.liked = !window.liked;
      if (window.liked) {
        $('.liked').attr('src', '{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/goods_selected.png') }}');
        window.star++;
      } else {
        $('.liked').attr('src', "{{ asset('assets/libs/scratch/scratch-h5/nviews/mobile/images/share/goods_default.png') }}");
        window.star--;
      }
      $('.goods').text(window.star);
      $.ajax({
        url: "/scratch_share/like/{{ project.shareId }}",
        type: "POST",
        data: "type=like&id=" + getQueryString("userId") + "&project=" + getQueryString("project") + "&liked=" + window.liked,
        success: function (json, status) {//如果调用php成功
          var success = json.success;
          if (!success) {
            console.log("点赞或者取消点赞操作失败！");
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          console.log("error,点赞或者取消点赞操作失败！");
        }
      });
    }

    //promotion
    function getQueryString(name) {
      var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
      var r = window.location.search.substr(1).match(reg);
      if (r != null) return unescape(r[2]);
      return null;
    }

    //获取父页面传值
    function urlParams(paramName) {
      var reg = new RegExp("[\?&]" + paramName + "=([^&]*)[&]?", "i");
      var paramVal = window.location.search.match(reg);
      return paramVal == null ? "" : decodeURIComponent(paramVal[1]);
    }

    function ajcb() {
      if (location.href.indexOf("staging") == -1 && location.href.indexOf("localhost") == -1) {
        var img = window.coverUrl
        var link = window.location.href
        var signurl = "/napi/wechat/sign"

        var nonceStr = '' + Math.random()
        var timestamp = (new Date().getTime()).toString()

        var postVal = {
          'origin': 'jsapi_ticket=JSTICKET&noncestr=' + nonceStr + '&timestamp=' + timestamp + '&url=' + link
        }

        var settings = {
          "async": true,
          "crossDomain": true,
          "url": signurl,
          "method": "POST",
          "headers": {
            "content-type": "application/json",
            "cache-control": "no-cache",
          },
          "processData": false,
          "data": JSON.stringify(postVal)
        }

        $.ajax(settings).done(function (response) {
          var d;
          if ((typeof response) == 'string') {
            if (response.substring(0, 1) == '{') {
              d = JSON.parse(response)
            } else {
              return;
            }
          } else {
            d = response
          }
          console.log(d.sign)
          wxconfig(d.sign)
        });

        function wxconfig(sign) {
          wx.config({
            appId: 'wx378f8865ee1849bb', // 必填，公众号的唯一标识
            timestamp: timestamp, // 必填，生成签名的时间戳
            nonceStr: nonceStr, // 必填，生成签名的随机串
            signature: sign, // 必填，签名，见附录1
            jsApiList: [
              'onMenuShareTimeline',
              'onMenuShareAppMessage'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
          });

          wx.ready(function () {
            wx.onMenuShareTimeline({
              title: window.tit, // 分享标题
              desc: window.con, // 分享描述
              link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
              imgUrl: img, // 分享图标
              type: 'link',
              success: function () {
                // 用户确认分享后执行的回调函数
                var datas = {
                  "userId": window.userId,
                  "shareType": window.shareType,
                  "shareName": window.title,
                  "eventType": "分享到朋友圈"
                };
                saveShareLog(datas);
              },
              cancel: function () {
                // 用户取消分享后执行的回调函数
                var datas = {
                  "userId": window.userId,
                  "shareType": window.shareType,
                  "shareName": window.title,
                  "eventType": "取消分享朋友圈"
                };
                saveShareLog(datas);
              }
            });

            wx.onMenuShareAppMessage({
              title: window.tit, // 分享标题
              desc: window.con, // 分享描述
              link: link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
              imgUrl: img, // 分享图标
              type: 'link', // 分享类型,music、video或link，不填默认为link
              dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
              success: function () {
                // 用户确认分享后执行的回调函数
                var datas = {
                  "userId": window.userId,
                  "shareType": window.shareType,
                  "shareName": window.title,
                  "eventType": "分享给朋友"
                };
                saveShareLog(datas);
              },
              cancel: function () {
                // 用户取消分享后执行的回调函数
                var datas = {
                  "userId": window.userId,
                  "shareType": window.shareType,
                  "shareName": window.title,
                  "eventType": "取消分享给朋友"
                };
                saveShareLog(datas);
              }
            });


            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
          });
        }
      }
    }

    function saveShareLog(datas) {
      $.ajax({
        type: 'POST',
        url: '/scratch_share/shareLog/{{ project.id }}',
        data: datas,
        cache: false,
        success: function (response) {
        }
      });
    }
  </script>
{% endblock %}