{% import 'admin/macro.html.twig' as admin_macro %}
<tr id="user-table-tr-{{ user.id }}">
  <td>
    <strong>{{ user.nickname }}</strong>
  </td>
  <td>
    {% for role in user.roles %}
        {% set userRole = data('Role', {code: role}) %}
        {% if userRole|default(false) %}
          {{userRole.name|default('')}}
        {% else %}
          {{ dict_text('userRole', role) }}
        {% endif %}
        {% if not loop.last %} &nbsp {% endif %}
      {% endfor %}
  </td>

  <td>
    {{ user.email|default('无') }}
  </td>

  <td>
    <span class="text-sm">{{ user.createdTime|date('Y-n-d H:i:s') }}</span>
  </td>
  <td>
    <div class="btn-group">
      {% include 'admin/role/templates/group-button.html.twig' with {parentCode: 'admin_user_manage', group:'groupButton', user: user} %}
    </div>
  </td>
</tr>

